.nav-barr {
  z-index: 99999;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 132, 255, 0.577);
}

.link-decor {
  padding: 1em;
  font-weight: bold;
  text-decoration: none !important;
  color: aliceblue;
  font-size: 1.6em;
}

#img-skills {
  /* height: 30vw; */
  width: 50vw;
}
#about-h1 {
  text-align: center;
  margin: 1.5vw;
}

img {
  z-index: -1;
}

footer {
  position: fixed;
  bottom: -150px;
  width: 100%;
}

.text-div {
  text-align: justify;
  font-size: 4.3vw;
}
.text-div:after {
  content: "";
  display: inline-block;
  width: 100%;
}
